
body {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #0cbef7, #f5fbfc);
    color: #09789c;
    text-align: center
}

header {
    background: linear-gradient(to right, #0cbef7, #f5fbfc);
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: underline;
}

section {
    padding: 20px;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #2c3e50;
    color: white;
}
